.post-title {
  background: rgba(157, 187, 63, .85);
  padding: 10px 15px;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}
.post-summary {
  font-size: 15px;
}